<template>
  <div class="logo_title">
    <router-link :to="{name:'dashboard'}">
      <img src="/logo.png" alt="logo">
      <h1 v-if="showTitle">
        {{ title }}
      </h1>
    </router-link>
  </div>
</template>

<script>

export default {
  name: 'Logo',
  props: {
    title: {
      type: String,
      default: 'My Market',
      required: false
    },
    showTitle: {
      type: Boolean,
      default: true,
      required: false
    }
  }
}
</script>
<style scoped>
.logo_title {
  background: #002140;
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
}
.logo_title a {
  text-decoration: none;
}
.logo_title img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
.logo_title h1 {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-weight: 600;
}
</style>
