<template>
  <div class="user-wrapper">
    <div class="content-box">
      <a-dropdown>
        <span class="action ant-dropdown-link user-dropdown-menu">
          <img :src="avatarImg">
          <span>{{ fullName }}</span>
        </span>
        <a-menu slot="overlay" class="user-dropdown-menu-wrapper">
          <a-menu-item key="0">
            <router-link :to="{ name: 'center' }">
              <a-icon type="user" />
              <span>Thông tin cá nhân</span>
            </router-link>
          </a-menu-item>
          <a-menu-divider />
          <a-menu-item key="3">
            <a href="javascript:;" @click="handleLogout">
              <a-icon type="logout" />
              <span>Thoát</span>
            </a>
          </a-menu-item>
        </a-menu>
      </a-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'UserMenu',
  computed: {
    ...mapGetters({
      'info': 'user/info'
    }),
    fullName () {
      if (this.info && this.info.fullName) { return this.info.fullName }
      return ''
    },
    avatarImg () {
      if (this.info && this.info.fullName) { return `https://ui-avatars.com/api/?size=24&bold=true&rounded=true&background=86bc42&color=fff&name=${this.info.fullName}` }
      return `https://ui-avatars.com/api/?size=24&bold=true&rounded=true&background=86bc42&color=fff&name=M+M`
    }
  },
  methods: {
    ...mapActions({
      'logout': 'user/logout'
    }),
    handleLogout () {
      this.logout()
        .then(res => this.logoutSuccess(res))
        .catch(err => this.requestFailed(err))
    },
    logoutSuccess (res) {
      this.$router.push({ name: 'login' }, () => {
        this.$notification.success({
          message: 'Thành công',
          description: `Bạn đã đăng xuất thành công`
        })
      })
    },
    requestFailed (err) {
      this.$notification.error({
        message: 'Có lỗi xảy ra',
        description: ((err.response || {}).data || {}).message || 'Vui lòng thử lại sau',
        duration: 4
      })
    }
  }
}
</script>

<style scoped>
.user-wrapper {
  float: right;
  height: 100%;
}
.user-wrapper .action {
  cursor: pointer;
  padding: 0 12px;
  display: inline-block;
  transition: all 0.3s;
  height: 100%;
  color: rgba(0, 0, 0, 0.65);
}
</style>
