<template>
  <div>
    <div v-permission="['update_user']">
      <a-button type="primary" style="margin-bottom: 16px" @click="handleAdd()">
        <a-icon type="plus-circle" /> Tạo mới
      </a-button>
    </div>
    <a-table :columns="columns" :data-source="data" :pagination="false">
      <template slot="operation" slot-scope="text, record">
        <a-button
          v-permission="['update_user']"
          type="primary"
          icon="edit"
          size="small"
          ghost
          shape="circle"
          @click="handleUpdate(record._id)"
        />
        <a-popconfirm
          v-permission="['update_user']"
          title="Bạn có chắc là muốn xóa dữ liệu này?"
          ok-text="Chắc chắn"
          cancel-text="Không"
          @confirm="handleDeleteConfirm(record._id)"
          @cancel="cancel"
        >
          <a-button type="danger" icon="delete" size="small" ghost shape="circle" />
        </a-popconfirm>
      </template>
    </a-table>
    <a-drawer
      title="Chỉnh sửa / Thêm mới quyền"
      width="800"
      :closable="false"
      :visible="editUserForm"
      @close="onEditFormClose"
    >
      <a-form
        :form="form"
        @submit="handleSubmit"
      >
        <a-form-item label="Mã nhân viên">
          <a-input
            v-decorator="[
              'userCode',
              {
                rules: [{ required: true, message: 'Vui lòng nhập mã nhân viên' }],
              }
            ]"
            name="userCode"
          />
        </a-form-item>
        <a-form-item label="Tên đăng nhập">
          <a-input
            v-decorator="[
              'username',
              {
                rules: [{ required: true, message: 'Vui lòng nhập tên đăng nhập' }],
              }
            ]"
            name="username"
          />
        </a-form-item>
        <a-form-item label="Mật khẩu">
          <a-input
            v-decorator="[
              'password'
            ]"
            name="password"
            type="password"
          />
        </a-form-item>
        <a-form-item label="Email">
          <a-input
            v-decorator="[
              'email',
              {
                rules: [{ required: true, message: 'Vui lòng nhập email' }],
              }
            ]"
            name="email"
          />
        </a-form-item>
        <a-form-item label="Họ và Tên">
          <a-input
            v-decorator="[
              'fullName',
              {
                rules: [{ required: true, message: 'Vui lòng nhập họ và tên' }],
              }
            ]"
            name="fullName"
          />
        </a-form-item>
        <a-form-item label="Số điện thoại">
          <a-input
            v-decorator="[
              'phoneNumber',
              {
                rules: [{ required: true, message: 'Vui lòng nhập số điện thoại' }],
              }
            ]"
            name="phoneNumber"
          />
        </a-form-item>
        <a-form-item label="Quyền hạn">
          <a-tree-select
            v-decorator="[
              'permissions'
            ]"
            :tree-data="permissionTree"
            :value="permissionSelected"
            tree-checkable
            search-placeholder="Chọn quyền cho user"
            name="permissions"
            @change="onPermissionChange"
          />
        </a-form-item>
        <a-form-item>
          <a-input
            v-decorator="[
              '_id'
            ]"
            type="hidden"
            name="_id"
          />
        </a-form-item>
        <a-button
          :style="{marginRight: '8px'}"
          @click="onEditFormClose"
        >
          Hủy
        </a-button>
        <a-button
          type="primary"
          html-type="submit"
        >
          Lưu
        </a-button>
      </a-form>
    </a-drawer>
  </div>
</template>
<script>
import { TreeSelect } from 'ant-design-vue'
import { getUsers, getUserByID, updateUserByID, removeUserByID } from '@/api/user'
import { getRoles } from '@/api/role'
const SHOW_PARENT = TreeSelect.SHOW_PARENT
const columns = [{
  title: 'Họ và Tên',
  dataIndex: 'fullName',
  key: 'fullName'
}, {
  title: 'Username',
  dataIndex: 'username',
  key: 'username'
}, {
  title: 'Số điện thoại',
  dataIndex: 'phoneNumber',
  key: 'phoneNumber'
}, {
  title: 'Email',
  dataIndex: 'email',
  key: 'email'
}, {
  title: 'Hành động',
  dataIndex: 'operation',
  scopedSlots: { customRender: 'operation' }
}]

export default {
  name: 'UserManagement',
  middleware: 'auth',
  meta: {
    permissions: ['view_user']
  },
  data () {
    return {
      form: this.$form.createForm(this),
      data: [],
      columns,
      editUserForm: false,
      selectedItem: {},
      SHOW_PARENT,
      permissionTree: [],
      permissionSelected: []
    }
  },
  mounted () {
    getUsers().then((response) => {
      this.data = response.data.data
    }).catch((err) => {
      this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
    })
    getRoles().then((response) => {
      this.permissionTree = response.data.data
    }).catch((err) => {
      this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
    })
  },
  methods: {
    handleDeleteConfirm (id) {
      removeUserByID(id)
        .then((res) => {
          getUsers().then((response) => {
            this.data = response.data.data
          })
          this.$message.success('Lưu dữ liệu thành công')
        })
        .catch((err) => {
          this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
        })
    },
    cancel () {
      this.$message.error('Hủy thao tác xóa dữ liệu')
    },
    onPermissionChange (value) {
      this.form.setFieldsValue({ permissions: value })
    },
    handleAdd () {
      this.editUserForm = true
    },
    handleUpdate (key) {
      this.editUserForm = true
      this.$nextTick(() => {
        getUserByID(key).then((response) => {
          this.selectedItem = response.data.data
          this.permissionSelected = response.data.data.permissions
          this.form.setFieldsValue(this.selectedItem)
        }).catch((err) => {
          this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
        })
      })
    },
    onEditFormClose () {
      this.editUserForm = false
      this.$nextTick(() => {
        this.form.setFieldsValue({ permissions: '', _id: '', userCode: '', username: '', password: '', email: '', fullName: '', phoneNumber: '' })
      })
    },
    handleSubmit (e) {
      e.preventDefault()
      const {
        form: { validateFields }
      } = this
      const validateFieldsKey = ['_id', 'username', 'userCode', 'password', 'email', 'fullName', 'phoneNumber', 'permissions']
      validateFields(validateFieldsKey, { force: true }, (err, values) => {
        if (!err) {
          const postParams = { ...values }
          updateUserByID(postParams._id, postParams)
            .then((res) => {
              this.editUserForm = false
              getUsers().then((response) => {
                this.data = response.data.data
              })
              this.$message.success('Lưu dữ liệu thành công')
            })
            .catch((err) => {
              this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
            })
        }
      })
      this.editUserForm = false
    }
  }
}
</script>
