<template>
  <a-layout id="components-layout-default">
    <a-layout-sider
      v-model="collapsed"
      :trigger="null"
      collapsible
    >
      <logo />
      <a-menu theme="dark" :default-selected-keys="['3']" mode="inline">
        <a-sub-menu
          key="sub1"
        >
          <span slot="title"><a-icon type="user" /><span>Người dùng</span></span>
          <a-menu-item key="users" v-permission="['view_user']">
            <nuxt-link to="/users">
              Danh sách người dùng
            </nuxt-link>
          </a-menu-item>
          <a-menu-item key="roles" v-permission="['view_role']">
            <nuxt-link to="/roles">
              Danh sách quyền
            </nuxt-link>
          </a-menu-item>
        </a-sub-menu>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="()=> collapsed = !collapsed"
        />
        <user-menu />
      </a-layout-header>
      <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">
        <nuxt />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script>
import Logo from '~/components/tools/Logo'
import UserMenu from '~/components/tools/UserMenu'
export default {
  components: { Logo, UserMenu },
  data () {
    return {
      collapsed: false
    }
  }
}
</script>
<style>
  #components-layout-default .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

  #components-layout-default .trigger:hover {
    color: #1890ff;
  }

  #components-layout-default .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
</style>
