<template>
  <exception-page :type="error.statusCode.toString()" />
</template>

<script>
import ExceptionPage from '~/components/exception'

export default {
  components: {
    ExceptionPage
  },
  props: {
    error: {
      type: Object,
      default () { return { statusCode: 404 } }
    }
  }
}
</script>

<style scoped>

</style>
