<template>
  <h1>Only an admin can see this page</h1>
</template>

<script>
export default {
  name: 'Dashboard',
  middleware: 'auth',
  meta: {
    permissions: ['view_user']
  }
}
</script>

<style scoped>

</style>
