<template>
  <div>
    <div v-permission="['update_role']">
      <a-button type="primary" style="margin-bottom: 16px" @click="handleAdd()">
        <a-icon type="plus-circle" /> Tạo mới
      </a-button>
    </div>
    <a-table :columns="columns" :data-source="data" :pagination="false">
      <template slot="operation" slot-scope="text, record">
        <a-button
          v-permission="['update_role']"
          type="primary"
          icon="edit"
          size="small"
          ghost
          shape="circle"
          @click="handleUpdate(record._id)"
        />
        <a-popconfirm
          v-permission="['update_role']"
          title="Bạn có chắc là muốn xóa dữ liệu này?"
          ok-text="Chắc chắn"
          cancel-text="Không"
          @confirm="handleDeleteConfirm(record._id)"
          @cancel="cancel"
        >
          <a-button type="danger" icon="delete" size="small" ghost shape="circle" />
        </a-popconfirm>
      </template>
    </a-table>
    <a-drawer
      title="Chỉnh sửa quyền"
      width="300"
      :closable="false"
      :visible="editRoleForm"
      @close="onEditRoleFormClose"
    >
      <a-form
        :form="form"
        @submit="handleSubmit"
      >
        <a-form-item label="Tên Quyền">
          <a-input
            v-decorator="[
              'roleName',
              {
                rules: [{ required: true, message: 'Vui lòng nhập tên quyền' }],
              }
            ]"
            name="roleName"
          />
        </a-form-item>
        <a-form-item label="Mã quyền">
          <a-input
            v-decorator="[
              'roleCode',
              {
                rules: [{ required: true, message: 'Vui lòng nhập mã quyền' }],
              }
            ]"
            name="roleCode"
          />
        </a-form-item>
        <a-form-item label="Nhóm quyền">
          <a-select
            v-decorator="[
              'parent'
            ]"
            name="parent"
            @change="handleChangeRoleGroup"
          >
            <a-select-option v-for="d in data" :key="d._id" :value="d._id">
              {{ d.title }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item>
          <a-input
            v-decorator="[
              '_id'
            ]"
            type="hidden"
            name="_id"
          />
        </a-form-item>
        <a-button
          :style="{marginRight: '8px'}"
          @click="onEditRoleFormClose"
        >
          Hủy
        </a-button>
        <a-button
          type="primary"
          html-type="submit"
        >
          Lưu
        </a-button>
      </a-form>
    </a-drawer>
  </div>
</template>
<script>
import { getRoles, getRoleByID, updateRoleByID, removeRoleByID } from '@/api/role'
const columns = [{
  title: 'Tên quyền',
  dataIndex: 'title',
  key: 'title'
}, {
  title: 'Mã quyền',
  dataIndex: 'value',
  key: 'value'
}, {
  title: 'Hành động',
  dataIndex: 'operation',
  scopedSlots: { customRender: 'operation' }
}]

export default {
  name: 'RoleManagement',
  middleware: 'auth',
  meta: {
    permissions: ['view_role']
  },
  data () {
    return {
      form: this.$form.createForm(this),
      data: [],
      columns,
      editRoleForm: false,
      selectedItem: {}
    }
  },
  mounted () {
    getRoles().then((response) => {
      this.data = response.data.data
    }).catch((err) => {
      this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
    })
  },
  methods: {
    handleDeleteConfirm (id) {
      removeRoleByID(id)
        .then((res) => {
          getRoles().then((response) => {
            this.data = response.data.data
          })
          this.$message.success('Lưu dữ liệu thành công')
        })
        .catch((err) => {
          this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
        })
    },
    cancel () {
      this.$message.error('Hủy thao tác xóa dữ liệu')
    },
    handleAdd () {
      this.editRoleForm = true
      this.$nextTick(() => {
        this.form.setFieldsValue({ _id: '', parent: '', roleName: '', roleCode: '' })
      })
    },
    handleChangeRoleGroup (value) {
      this.form.setFieldsValue({ parent: value })
    },
    handleUpdate (key) {
      this.editRoleForm = true
      this.$nextTick(() => {
        this.form.setFieldsValue({ parent: '' })
        getRoleByID(key).then((response) => {
          this.selectedItem = response.data.data
          this.form.setFieldsValue(this.selectedItem)
        }).catch((err) => {
          this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
        })
      })
    },
    onEditRoleFormClose () {
      this.editRoleForm = false
    },
    handleSubmit (e) {
      e.preventDefault()
      const {
        form: { validateFields }
      } = this
      const validateFieldsKey = ['roleName', 'roleCode', '_id', 'parent']
      validateFields(validateFieldsKey, { force: true }, (err, values) => {
        if (!err) {
          const postParams = { ...values }
          updateRoleByID(postParams._id, postParams)
            .then((res) => {
              this.editRoleForm = false
              getRoles().then((response) => {
                this.data = response.data.data
              })
              this.$message.success('Lưu dữ liệu thành công')
            })
            .catch((err) => {
              this.$message.error('Có lỗi xảy ra: ' + err.message || 'Vui lòng thử lại sau')
            })
        }
      })
      this.editRoleForm = false
    }
  }
}
</script>
